<section id="viewhotelDetails">
    <div class="profile"><img src="/img/profile.png" alt="default user">
        <h3>User Info:</h3>
        <div class="flex">
            <p>Username: </p>
            <p>{{user.userName}}</p>
        </div>
        <div class="flex">
            <p>Email: </p>
            <p>{{user.email}}</p>
        </div>
        <div class="flex">
            <p>Reservations: </p>
            <p>
                {{#each user.bookdHotels}}
                <span>{{name}}</span>
                {{/each}}
            </p>
        </div>
    </div>
</section>